PORT=3003
MONGODB_URI=mongodb://localhost:27017/fashion_ecommerce_orders
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
